/*PC対応css Start media="screen and (min-width:769px)"-----------------------------------------*/
/*PC slide*/

#mainp{
	top:15%;
}
.maintopb {
	width:100px;
	height:100px;	
	margin:1em auto 1em;
}
p.maintopb{
	font-size:2.5em;
	;
}
p.mainmidb {
	font-size:4em;
	letter-spacing:3px;
}
p.mainbotb{
	letter-spacing:1px;
}
.startbt{
	font-size: 1em;
	left: 46%;
	width: 8%;
	height: 40px;
	line-height: 40px;
	margin: 2em auto 0.5em;
}
.startbt:hover{
	background-color: #22a6b3;
}
.slide-icon{
	top:95%;
}
/*PC nav*/
#navinoba{
	position:fixed;
	top: 0; 
	left:0;
	right:0;
	z-index: 999;
}
nav {
	position:relative;
	width:100%;
	height:60px;
	text-align: right;
}
nav a:link, nav a:visited {
	font-size:0.9em;
	font-weight:600;
}
nav ul{
	display:inline-block;
	width: 1020px;
	height:60px;
	text-align: center;
	background: none;
}
nav ul li{
	display:inline-block;
	width:95px;
	height:20px;
	border-bottom:0;
	margin:20px 0px;
	text-align:center;
}
nav ul li a{
	font-size:1em;
	word-spacing: 0.3em;
	line-height:20px;
	border-bottom:0px;
}
nav ul li a:hover{
	border-bottom:2px solid #fff;
}
nav #trigger {
	display: none;
}  
#engname{
    left:15%;
    top:8%;
	font-size:2.5em;
	font-weight:300;
}
#engname:hover{
	color:rgb(14, 44, 48);
}
/*PC content*/
.areacon{
	max-width:1000px;
	margin:0 auto;
}
h2 {
	font-size:1.5em;
}
.fadeIn > p{
	line-height:20px;
}
/*WEB コンテンツ*/
.webcontentback{
	background-size:100%;
}
.webcontentback-second{
	background-size:100%;
}
.web-box{
	width:310px;
	padding:40px 5px;
}
.web-box *{
	-webkit-transition: all 0.45s ease-in-out;
	transition: all 0.45s ease-in-out;
}
.web-box:hover img,
.web-box .hover img{
	filter:brightness(0.5);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.web-box-caption h3{
	position: absolute;
	top: 40%;
	left: -30%;
	width: 100%;
	font-size: 1.2em;
	font-style: italic;
	color: #fff;
	-webkit-transform: scale(0.5) translate(0%, -50%);
	transform: scale(0.5) translate(0%, -50%);
	-webkit-transform-origin: 50% 0%;
	-ms-transform-origin: 50% 0%;
	transform-origin: 50% 0%;
	z-index: 1;
	opacity: 0;
	padding: 150px 90px 150px 100px;
}
.web-box-caption:hover h3,
.web-box-caption .hover h3{
	-webkit-transform: scale(1) translate(0, -50%);
	transform: scale(1) translate(0, -50%);
	opacity: 1;
}
#columns{
	display: grid;
	-webkit-column-count:3;
	-moz-column-count:3;
	column-count:3;
	column-gap:10px;
}
#web-first, #web-second, #web-third {
	grid-row:1/3;
}

#columns-second{
	display: grid;
	-webkit-column-count:2;
	-moz-column-count:2;
	column-count:2;
    padding: 0 18%;
}
#web-fourth, #web-fifth {
	grid-row:1/2;
}
/*LOGO,EVENT コンテンツ*/
.logodesign{
	display: block;
	overflow: visible;
	max-width:1000px;
	height: 900px;
	padding:0;
	margin: 0 auto;
}
.logocontent-first{
	margin: 10% 30% 20% 80%;
}
.logoback-fourth{
	margin: 40% 0% 20% -20%;
}
#logocontentimg-one{
	width:300px;
    height:300px;
	top:5%;
	left:-10%;
}
#logocontentimg-two{
	width:300px;
    height:300px;
    top: 5%;
	left: 25%;
	right: 0;
}
#logocontentimg-three{
	width:450px;
    height:300px;
	top: 50%;
	left: 45%;
	right:0;
}
#logocontentimg-four{
	width: 450px;
    height:100px;
	top: 60%;
	left: -15%;
}
#logocontentimg-five{
	width: 250px;
    height:250px;
	top: 11%;
	left: 73%;
}
#logocontentimg-six{
	width: 250px;
    height:250px;
	top:45%;
	left:98%;
	right:0;
}
/*paralax-first container*/
.paraconpc{
	display: block;
	background: url('../images/IMG_1768.JPG') no-repeat bottom;
}
.paraconpc p{
	display: block;
    width: 100%;
	position: absolute;
	top: 40%;
    font-size: 2em;
    color: #fff;    
	text-align: center;
	text-shadow: 2px 2px 2px #000;
}
#parafirst-container{
	width:100%;
	height: 300px;
	position: relative;
	overflow: hidden;
	margin: 20px 0px;
}
.bg-holder{
	width:100%;
	height:100%;
}
.paraconsm{
	display: none;
}
/*Gradation Box*/
.gra-box-one{
	height: 300px;
}
.gra-box-one p{
	width:500px;
    font-size: 10em;
	letter-spacing: 20px;
	top:310px;
}
.gra-box-two {
	height: 300px;
}
.gra-box-three {
	height: 300px;
}
.gra-box-four {
	height: 300px;
}
/*Print コンテンツ*/
#printdesign{
	height: 800px;
}
.swiper-container-pa {
	width:70%;
	height:450px;
	margin:100px auto;
  }
.swiper-container {
	width:90%;
	height:520px;
  }
  /*Sketch コンテンツ*/
#sketchback{
	max-width: 1000px;
	height: 700px;
	margin: 20px auto 60px;
	box-shadow: 20px 30px 25px darkgrey;
}
/*Shootingコンテンツ*/
#shootingback{
	max-width: 1000px;
	height: 700px;
	margin: 20px auto 60px;
	background-color: #d8e4e5;
	box-shadow: 20px 30px 25px #3c585a;
}
/*PC フッター*/
.footheadp {
	text-align:center;
	font-size:2em;
	color:#fff;
	font-weight:bold;
	padding-top:50px;
	}
.footcontac {
	text-align:center;
	font-size:1em;
	color:#fff;
	font-weight:bold;
	text-shadow:1px 1px 1px #22a6b3;
	padding-top:10px;
}
#footsec {
	height:1000px;
}

/*PC対応css End-------------------------------------------------------------------------------------------------*/
