@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c|Nunito+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Great+Vibes|Playfair+Display+SC&display=swap');

/*スマホ対応css--------------------------------------------------------------------------------------------------*/
* {
	margin:0;
	padding:0;
	font-family: 'Noto Sans KR', sans-serif;
}
body{
	margin:0;
	padding:0;
	}   
a:link, a:visited{
	color:#fff;
	text-decoration:none;
}
/*スライダー*/
.mainslide{
	width: 100%;
	bottom: 0;
	left: 0;
	margin: auto;
	overflow: auto;
	right: 0;
	top: 0;
}
#mainslide{
	margin:0;
	padding:0;
}
.mainslide-first{
	background: url('../images/mainslide_1.jpg') no-repeat center center;
	background-size:cover;
}
.mainslide-second{
	background: url('../images/mainslide_2.jpg') no-repeat center center;
	background-size:cover;
}
.mainslide-third{
	background: url('../images/mainslide_3.jpg') no-repeat center center;
	background-size:cover;
}
.maincm {
	width:100%;
	min-height: 100vh;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
}
#mainp{
	width:96%;
	position:absolute;
	top:20%;
	margin: 0px 2%;
}
#mainslide #mainp .maintopb{
	transition:1s all; 
	opacity:0; 
	transform:translate(0,-250px)
	}
#mainslide .active #mainp .maintopb { 
	opacity:1; 
	transform:translate(0,0)
}
.maintopb {
	width:100px;
	height:100px;
	display:block;
	margin:0 auto 0.3em;
	border-radius:50%;
	background-color:#7ed6df;
	margin-bottom:20px;
}
p.maintopb{
	font-family:'Great Vibes', cursive;
	color:#fff;
	text-align:center;
	line-height:100px;
	font-size:2.3em;
	letter-spacing:5px;
}
.mainmidb{
	width:100%;
	margin-bottom:0.5em;
}
p.mainmidb {
	color:#fff;
	text-align:center;
	font-size:2.5em;
	line-height: 1em;
	letter-spacing:5px;
	font-family: 'Playfair Display SC', serif;
	text-shadow:0px 1px 1px #c1c1c1; 
}
.mainbotb{
	width:100%;
	margin-bottom:10px;
}
p.mainbotb{
	color:#fff;
	text-align:center;
	font-size:1em;
	letter-spacing:0.3px;
	font-family: 'Playfair Display SC', serif;
}

.startbt{
	color:#fff;
	text-align:center;
	border-radius: 10px;
	border:1px solid #22a6b3;
	position: absolute;
	left: 30%;
	bottom: 12%;
	font-size: 1.2em;
	width: 40%;
	height: 60px;
	line-height:60px;
	margin: 0.5em auto 1em;
	-webkit-animation: bounce 3000ms infinite;
    animation: bounce 3000ms infinite;
}
.startbt:hover{
	background-color: #22a6b3;
}
.slide-icon{
	position:absolute;
	left:50%;
	bottom:5%;
}
 .fa-angle-down{
    color:#fff;
    font-size:30px;
	margin-left: -12px;
    -webkit-animation: bounce 3000ms infinite;
    animation: bounce 3000ms infinite;
}


/* ナビゲーション */

#navinoba{
	position:fixed;
	top: 0; 
	left:0;
	right:0;
	z-index: 999;
} 
#navinoba.scrolled{
	background-color:rgb(126, 214, 223,0.9)!important;
	transition: background-color 600ms linear;
  }

nav {
	position:relative;
	width:100%;
	height:auto;
}
nav a:link, nav a:visited {
	color:#fff;
	text-decoration:none;
}
nav ul{
	display: none;
	height:auto;
	background: url('../images/navback.png') no-repeat;
	background-size:cover;
	opacity: 0.9;
}

nav ul li{
	display:block;
	width:90%;
	text-align:right;
}
nav ul li a{
	font-size:1em;
	text-decoration:none;
	line-height:50px;
	border-bottom:1px solid #fff;
}

nav #trigger{
	display:block;
	background:none;
	width:100%;
	height:50px;
	position:relative;
	text-align:left;
}
nav #trigger::after {
	content: "";
	background: url('../images/nav.png') no-repeat;
	background-size:25px;
	width: 25px;
	height: 25px;
	display: inline-block;
	position: absolute;
	right: 25px;
	top: 12px;
  }        
nav #trigger p{
	position: absolute;
	right:65px;
	font-size:1.5em;
	line-height:55px;
	color:#fff;
}
#engname{
	position: absolute;
	left:20px;
	font-family:'Great Vibes', cursive;
	color:#fff;
	line-height:60px;
	font-size:2.8em;
	letter-spacing:3px;
	font-weight:300;
}
/*コンテンツ */
#wrapper {
	width:100%;
	min-width:300px;
	margin:0;
}
#content{
	width:100%;
	height:auto;
}
#content:nth-child(odd) {
    background-color: #f3f3f4;
}
.areacon{
	width:100%;
}
h2 {
	display: block;
	width:100%;
	padding-top: 90px;
	font-size:1.2em;
	color:black;
	text-align:center;
}
.fadeIn > p{
	font-family:'M PLUS Rounded 1c';
	font-size:1em;
	color:black;
	text-align:center;
}
/*WEB コンテンツ*/
.webcontentback{
	background: url('../images/webbackup.png') no-repeat top;
	background-size:300%;
}
.webcontentback-second{
	background: url('../images/webbackdown.png') no-repeat bottom;
	background-size:200%;
}
.web-box{
	display: block;
	width:80%;
	padding:10%;
	text-align:center;
}
.web-box img{
	 width:90%;
	 filter: drop-shadow(5px 15px 8px rgb(168, 168, 168));
}
.web-box-caption h3 {
	color: #000;
}
.web-box p{
	font-family:'M PLUS Rounded 1c';
	color:#666;
	padding-top: 10px;
    font-size: 1em;
}
#columns{
	display:grid;
	-webkit-column-count:1;
	-moz-column-count:1;
	column-count:1;
}
#columns-second{
	display: grid;
	-webkit-column-count:1;
	-moz-column-count:1;
	column-count:1;
}
/*LOGO,EVENT コンテンツ*/
.logodesign{
	display: block;
	position: relative;
	overflow: hidden;
	max-width:90%;
	height: 950px;
	padding:5%;
}
@media all and (min-width:500px) and (max-width:768px) {
	.logodesign{
		height: 1800px;
	}
}
.logocontent-first{
	position: absolute;
    width: 450px;
    height: 450px;
	margin: 10% 30% 20% 60%;
    border-radius: 40px;
    opacity: 0.6;
    border: 1px solid #7ed6df;
	transform: rotate(45deg);
}
.logoback-second{
	position: absolute;
    width: 450px;
    height: 450px;
    margin: -10% 0% 0% -10%;
    border-radius: 40px;
    opacity: 0.6;
	background-color: #7ed6df;
}
.logoback-third{
	position: absolute;
    width: 450px;
    height: 450px;
    margin: 20% 0% 0% 20%;
    border-radius: 40px;
    opacity: 0.6;
	border: 1px solid #000;
}
.logoback-fourth{
	position: absolute;
	width: 300px;
    height: 300px;
	margin: 90% 0% 0% -35%;
    border-radius: 40px;
    opacity: 0.4;
	background-color: #7ed6df;
	transform: rotate(45deg);
}
.logoback-fifth{
	position: absolute;
	width: 250px;
    height: 250px;
    margin: -10% 0% 0% 30%;
	border-radius: 40px;
	border: 1px solid #22a6b3;
	opacity: 0.4;
}

     /*--logocon hover start----*/
.logocon {
	width: 100%;
	height: 100%;
	color:#fff;
	text-align: center;
	font-size: 16px;
	position: relative;
	overflow: hidden;
	border-radius:20px;
	box-shadow:3px 1px 15px darkgrey;
}
.logocon *{
	-webkit-transition: all 0.35s ease;
	transition: all 0.35s ease;
}
.logodesign img{
	width:100%;
	vertical-align: bottom;
}
.logocon:after,
.logocon:before,
.logocon div:after,
.logocon div:before {
  background: #0a0a0a;
  height: 25%;
  position: absolute;
  content: '';
  opacity: 0;
  -webkit-transition: all 0.35s steps(4);
  transition: all 0.35s steps(4);
  z-index: 1;
  left: 50%;
  right: 50%;
}
.logocon:before {
	top: 0%;
	-webkit-transition-delay: 0;
	transition-delay: 0;
  }
.logocon:after {
	top: 25%;
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
  }
.logocon div:before {
	top: 50%;
	-webkit-transition-delay: 0.2s;
	transition-delay: 0.2s;
	z-index: -1;
  }
.logocon div:after {
	top: 75%;
	-webkit-transition-delay: 0.3s;
	transition-delay: 0.3s;
	z-index: -1;
  }
.logocon div {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 2;
	padding: 3%;
  }
.logocon h3,
.logocon p{
	margin: 0;
	width: 100%;
	opacity: 0;
  }
.logocon h3 {
	margin: 20% auto 2%;
	font-weight: 900;
	text-transform: uppercase;
  }
.logocon p {
	font-weight: 300;
  }
.logocon:hover:after,
.logocon.hover:after,
.logocon:hover:before,
.logocon.hover:before,
.logocon:hover div:after,
.logocon.hover div:after,
.logocon:hover div:before,
.logocon.hover div:before {
	left: 0;
	right: 0;
	opacity: 0.8;
  }
.logocon:hover div h3,
.logocon.hover div h3,
.logocon:hover div p,
.logocon.hover div p {
	-webkit-transition-delay: 0.25s;
	transition-delay: 0.25s;
  }
.logocon:hover div h3,
.logocon.hover div h3 {
	opacity: 1;
  }
.logocon:hover div p,
.logocon.hover div p {
	opacity: 0.7;
  }
     /*--logocon hover end----*/
#logocontentimg-one{
	position:absolute;
	width:39%;
	height: auto;
	left: 10%;
}
.logo-coment {
    display: block;
    width: 70%;
    padding: 2%;
    margin: 5% auto;
    border-radius: 50px;
    background-color: darkgrey;
    opacity: 0.7;
}
.logo-coment p{
	font-size: 0.8em;
    font-weight: 300;
    text-align: center;
    color: #fff;
}
#logocontentimg-two{
	position:absolute;
	width:40%;
	height: auto;
	top: 8%;
	right: 10%;
}
#logocontentimg-three{
	position: absolute;
	width: 80%;
	height: auto;
	top: 35%;
	left: 10%;
	right:10%;
}
#logocontentimg-four{
	position: absolute;
	width: 38%;
	height: auto;
	top: 28%;
	left: 10%;
}
#logocontentimg-four h3 {
	margin:0;
	font-weight: 600;
    font-size: 15px;
}
#logocontentimg-five{
	position: absolute;
	width:38%;
	height: auto;
	top: 67%;
	left: 10%;
}
#logocontentimg-six{
	position: absolute;
	width:38%;
	height: auto;
	top: 73%;
	right:10%;
}
/*paralax-first container*/
.paraconpc{
	display: none;
}
.paraconsm{
	background: url('../images/IMG_1768.JPG') no-repeat center;
	background-size: 100%;
	width:100%;
	height: 250px;
	position: relative;
	overflow: hidden;
	margin: 20px 0px;
}
.paraconsm p{
	display: block;
    width: 100%;
	position: absolute;
	top: 40%;
	font-size: 1.5em;
	letter-spacing: 2px;
    color: #fff;    
	text-align: center;
	text-shadow: 2px 2px 2px #000;
	font-family: 'Playfair Display SC', serif;
}
/*Gradation Box*/
.gra-box-one{
	display: block;
	position: relative;
	width: 100%;
	height: 100px;
	background: linear-gradient(to bottom, white,#7ed6df);
}
.gra-box-one p{
	display: block;
	width:90%;
	margin: 0 auto;
    font-size: 6.5em;
	font-weight: 900;
	letter-spacing: 10px;
	text-align: center;
    color: #fff;
    opacity: 0.2;
	position: relative;
	top:140px;
}
.gra-box-two {
	display: block;
	width: 100%;
	height: 100px;
	background: linear-gradient(to top,white,#7ed6df);
}
.gra-box-three {
	display: block;
	position: relative;
	width: 100%;
	height: 100px;
	background: linear-gradient(to bottom, white,#9dbbbe);
}
.gra-box-four{
	display: block;
	width: 100%;
	height: 100px;
	background: linear-gradient(to top,white,#9dbbbe);
}
/*Print コンテンツ*/
#printdesign{
	width: 100%;
	height: 630px;
	margin: 0;
	padding: 0;
	background-color: #7ed6df;
}
.swiper-container-pa {
	width:85%;
	height:350px;
	position: relative;
	margin: 40px auto;
  }
.swiper-container {
	width:70%;
	height:450px;
  }
.swiper-slide {
	width: 100%;
	background-position: center;
	background-size: cover;
  }
.swiper-slide img{
	width: 100%;
  }
.swiper-pagination{
	margin-top: 50px;
	margin-bottom: 50px;
}
.swiper-pagination .swiper-pagination-bullet {
    opacity: 1;
    border: white solid 1px;
    background-color: transparent;
}
.swiper-pagination .swiper-pagination-bullet-active {
    background-color: #9a9a9a;
}
@media all and (min-width:500px) and (max-width:768px) {
	#printdesign{
		height: 1000px;
	}
	.swiper-container {
		width:70%;
		height:750px;
	  }
	.swiper-container-pa {
	width:85%;
	height:650px;
	position: relative;
	margin: 40px auto;
	}
}
/*Sketch コンテンツ*/
#sketch{
	width: 100%;
	margin: 0;
}
#sketch-grid{
	width: 90%;
	position: relative;
	margin: 10px auto 20px;
	background: url(../images/woodback.jpg) no-repeat top;
	background-size: cover;
	box-shadow: 10px 10px 15px darkgrey;
}
#sketchback{
	width: 90%;
	margin: 10px auto 20px;
}
#sketch-box{
	margin: 0px auto;
    padding: 20px 0;
}
#sketch-box div{
	display: inline-block;
	margin: 3% 2% 0% 2%;
}
#sketchback img{
	width: 100%;
	box-shadow: 3px 3px 10px #000;
}
#sketchimg-one{
	width: 46%;
}
.thumb-pin{
	display: none;
}
#sketchimg-two {
	width: 46%;
}
#sketchimg-three{
	width: 46%;
}
#sketchimg-four{
	width: 46%;
}
#sketchimg-five{
	width: 29%;
}
#sketchimg-six{
	width: 29%;
}
#sketchimg-seven{
	width: 29%;
}
.shakeimg:hover img{
	animation: shake 1.3s cubic-bezier(.36,.07,.19,.97) both;
	transform: translate3d(0, 0, 0);
  }
  @keyframes shake {
	1%, 10%, 90% {
	  transform: translate3d(-2px, 0, 0);
	}
	20%, 80% {
	  transform: translate3d(3px, 0, 0);
	}
	30%, 50%, 70% {
	  transform: translate3d(-4px, 0, 0);
	}
	40%, 60% {
	  transform: translate3d(4px, 0, 0);
	}
  }

/*Shootingコンテンツ*/
#shooting{
	width: 100%;
	margin: 0;
	padding-bottom: 40px;
	background-color: #9dbbbe;
	background: url(../images/mainslide_2.jpg) no-repeat;
	background-size: cover;
}
#shooting h2,
#shooting p {
	color:#fff;
}
#shootingback{
	max-width: 90%;
	margin: 10px auto 20px;
	background-color: #d8e4e5;
	box-shadow: 10px 10px 15px #121d32de;
}
#shooting-box{
	position: relative;
	display: block;
	width: 93%;
    padding: 5% 3%;
	margin: 0 auto;
}
#shootingimg,
#shootingimg::after {
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
  -o-transition: all 0.3s;
	transition: all 0.3s;
}
#shootingimg {
	display: inline-block;
	position: relative;
	width: 100%;
	height: 300px;
	box-shadow: 1px 5px 20px #3c585a;
	margin: 15px 0;
	background: none;
}
@media all and (min-width:500px) and (max-width:768px) {
	#shootingimg {
		height: 480px;
	}
}

#shootingimg::before,
#shootingimg::after {
  background: #000;
  content: '';
  position: absolute;
  opacity: 1;
}
#shootingimg {
	overflow: hidden;
}
#shootingimg:after {
	height: 100%;
	left: -160%;
	top: 0;
	transform: skew(50deg);
	transition-duration: 0.6s;
	transform-origin: top left;
	width: 0;
  }
#shootingimg:hover:after {
	height: 100%;
	width: 260%;
	opacity: 0.8;
  }
.sh-hover{
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	font-size: 1em;
	color: #fff;
	opacity: 0;
}
.sh-hover p{
	position: absolute;
    top: 45%;
    left: 50%;
    margin-left: -50px;
}
.sh-hover:hover{
	opacity: 1;
	z-index: 1;
}
#shooting-box-one{
	display: block;
	width: 100%;
	height: 100%;
	background: url(../images/IMG_1486.JPG) no-repeat;
	background-size: cover;
}

#shooting-box-two{
	display: block;
	width: 100%;
	height: 100%;
	background: url(../images/IMG_1419.JPG) no-repeat;
	background-size: cover;
}
#shooting-box-three{
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
	background: url(../images/IMG_1420.JPG) no-repeat top;
	background-size: contain;
	background-color: #fff;
}
#sh-coment01{
	display: block;
    width: 150px;
    height: 30px;
    position: absolute;
    top: 84%;
    left: 50%;
    margin-left: -75px;
}
#sh-coment01 p {
	color:#000;
	font-size: 1.5em;
	font-family:'Great Vibes', cursive;
	letter-spacing: 2px;
}
#shooting-box-four{
	display: block;
	width: 100%;
	height: 100%;
	background: url(../images/IMG_0336.JPG) no-repeat;
	background-size: cover;
}
#shooting-box-five {
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
	background: url(../images/IMG_1532.JPG) no-repeat bottom;
	background-size: contain;
	background-color: #f8f0e2;
}
#sh-coment03 {
    display: block;
    width: 150px;
    height: 60px;
    position: absolute;
    top: 11%;
    left: 5%;
}
#sh-coment03 p {
	color:#accbce;
	font-size: 1.5em;
	letter-spacing: 2px;
}
#shooting-box-six {
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
	background: url(../images/IMG_1488.JPG) no-repeat bottom;
	background-size: contain;
	background-color: #f3f3f4;
}
#sh-coment0401 {
    display: block;
    width: 100px;
    height: 60px;
    position: absolute;
    top: 0.5%;
    left: 2%;
	opacity: 0.4;
 /* z-index: 1; */
}
#sh-coment0401 p {
    color: #c15722;
    font-size: 3.5em;
	font-family:'Great Vibes', cursive;
}
#sh-coment0402 {
	display: block;
    width: 80px;
    height: 20px;
    position: absolute;
    top: 6%;
    left: 22%;
    opacity: 0.4;
}
#sh-coment0402 p {
    color: #c15722;
    font-size: 0.8em;
    letter-spacing: 1.5px;
}
#sh-coment0403 {
    display: block;
    width: 180px;
    height: 30px;
    position: absolute;
    top: 8.5%;
    left: 22%;
    opacity: 0.4;
}
#sh-coment0403 p {
    color: #c15722;
    font-size: 1.5em;
    letter-spacing: 5px;
}
#shooting-box-seven {
	display: block;
	width: 100%;
	height: 100%;
	background: url(../images/IMG_1493.JPG) no-repeat;
	background-size: cover;
}
#shooting-box-eight {
	display: block;
	width: 100%;
	height: 100%;
	background: url(../images/IMG_1490.JPG) no-repeat;
	background-size: cover;
}
#shooting-box-nine {
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
	background: url(../images/IMG_3139.JPG) no-repeat top;
	background-size: contain;
	background-color: rgba(23.5, 34.5, 35.3, 0.5);
}
#sh-coment02 {
    display: block;
    width: 150px;
    height: 30px;
    position: absolute;
    top: 83%;
    left: 50%;
	margin-left: -70px;
	opacity: 0.7;
}
#sh-coment02 p {
	color:#fff;
	font-size: 1.5em;
	font-family: 'Playfair Display SC', serif;
	letter-spacing: 2px;
}
#shooting-box-ten {
	display: block;
	width: 100%;
	height: 100%;
	background: url(../images/IMG_4037.jpg) no-repeat;
	background-size: cover;
}
/*Profileコンテンツ*/
#profile{
	width: 100%;
	margin: 0;
}
/*paralax-second container*/
.paraconpc-two{
	display: none;
}
.paraconsm-two01 {
	background: url('../images/IMG_1428.JPG') no-repeat center;
	background-size: 100%;
	width:100%;
	height: 350px;
	position: relative;
	overflow: hidden;
	margin: 20px 0px 0px 0px;
}
.paraconsm-two01 p{
	display: block;
    width: 50%;
    position: absolute;
    top: 10%;
    left: 40%;
    font-size: 0.7em;
    line-height: 2em;
    letter-spacing: 0.05em;
    color: #fff;
    text-align: center;
    text-shadow: 2px 2px 2px #000;
    background-color: #1f1711a1;
    padding: 1%;
    border-radius: 20px;
}
.paraconsm-two02 {
	width:100%;
	height: 350px;
	position: relative;
	overflow: hidden;
	margin: 0px;
	background-color: #000;
    opacity: 0.9;
}
.paraconsm-two02::after {
	content: "";
    background: url(../images/mainslide_2.jpg) no-repeat;
    background-size: cover;
    opacity: 0.35;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
  }
/*フッター*/
#footsec {
	width:100%;
	height:auto;
	background-color:#7ed6df;
	position: relative;
}
#footup{
	width: 100%;
	height: 300px;
	background-color: #fff;
}

.footheadp {
	text-align:center;
	font-size:1.5em;
	color:#fff;
	font-weight:bold;
	padding-top:30%;
	padding-bottom: 4%;
}
footer section{
	display: block;
	width: 90%;
	height: 280px;
	background: linear-gradient(to left,#c1c1c1,#9dbbbe);
	position: absolute;
	top:15%;
	left: 5%;
	box-shadow:-20px 40px 45px #3c585a;
	overflow: hidden;
}
#namecardimg {
	display: inline-block;
    width: 90%;
    position: absolute;
    left: 15%;
}
@media all and (min-width:500px) and (max-width:768px) {
	footer section{
		height: 380px;
		top:15%;
		left: 5%;
	}
	#namecardimg {
		width: 70%;
		left: 35%;
	}
}

#namecardimg img{
	width: 100%;
}
.footcontac {
	display: inline-block;
	width: 50%;
	padding: 20% 1%;
    position: absolute;
    top: 10%;
	left: 1%;
	text-align:left;
	color:#fff;
	letter-spacing: -0.5px;
}
.footcontac .name {
	font-size:1.5em;
	font-weight:800;
    padding: 2px 0px;
}
.footcontac .name-ja {
	font-size:0.8em;
	margin-top: -4%;
	margin-bottom: 10%;
}
.footcontac .mail{
	font-size:0.8em;
	font-weight:bold;
}
.fa-smile{
	font-size: 1.5em;
}
#footdown{
	width: 100%;
	height: 50px;
	background-color: #fff;
}
#footdown-box{
	width: 100%;
	margin: 0 auto;
}
#footdown .copyname {
	display: block;
    width: 100%;
    height: 25px;
    font-size: 0.8em;
    letter-spacing: 0.5px;
    color: #22a6b3;
	margin: 1% auto;
	text-align: center;
    padding-top: 1.5%;
}
#footdown .copyname-de {
	display: block;
    width: 100%;
    height: 25px;
    font-size: 0.8em;
    letter-spacing: 0.5px;
    color: #22a6b3;
	margin: 1% auto;
	text-align: center;
}